.cuidados{
    background-image: url('../imagenes/cuidados.png');
    background-color: #817566;
    background-repeat: no-repeat;
    background-position: center bottom;
    color: white;
    height: 410px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding-top: 10vw; 
    padding-bottom: 10vw; 
}

.cuidados h1 {
    font-size: 6vw;
    font-weight: bold;
    margin-top: -3vw; 
  }
  
  @media (max-width: 767px) {
    .cuidados h1 {
      font-size: 10vw; 
      margin-top: -3vw;
    }
  }

  .pet-cuidados{
    background-color: #00ab99;
  }

  .custom-content {
    padding: 20px; 
  }
  