.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
  }

  .bd-mode-toggle {
    z-index: 1500;
  }

  .bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
  }

  .fondo-con-imagen {
    background-image: url('../imagenes/Perro-Gato.png');
    background-color: #7BBFDD;
    background-repeat: no-repeat;
    background-position: center bottom;
    color: white;
    height: 410px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding-top: 10vw; 
    padding-bottom: 10vw; 
  }
  
  .fondo-con-imagen h1 {
    font-size: 6vw;
    font-weight: bold;
    margin-top: -3vw; 
  }
  
  @media (max-width: 767px) {
    .fondo-con-imagen h1 {
      font-size: 10vw; 
      margin-top: -3vw;
    }
  }

  .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .imagen-circular {
    width: 140px; /* Tamaño de la imagen circular */
    height: 140px;
    overflow: hidden; /* Oculta cualquier parte de la imagen que desborde el círculo */
  }
  
  
  .main-row {
    background-color: #f0deb4;
    font-family:'Palatino Linotype', serif;
  }

  .pet{
    background-color: #5D8C61
  }

  .text-pet-main{
    color: white;
  }
  
  .text-white{
    color:white
  }

  .product-section {
    padding: 7rem 0; }
    .product-section .product-item {
      text-align: center;
      text-decoration: none;
      display: block;
      position: relative;
      padding-bottom: 50px;
      cursor: pointer; }
      .product-section .product-item .product-thumbnail {
        margin-bottom: 30px;
        position: relative;
        top: 0;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
      .product-section .product-item h3 {
        font-weight: 600;
        font-size: 16px; }
      .product-section .product-item strong {
        font-weight: 800 !important;
        font-size: 18px !important; }
      .product-section .product-item h3, .product-section .product-item strong {
        color: #2f2f2f;
        text-decoration: none; }
      .product-section .product-item .icon-cross {
        position: absolute;
        width: 35px;
        height: 35px;
        display: inline-block;
        background: #2f2f2f;
        bottom: 15px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        margin-bottom: -17.5px;
        border-radius: 50%;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
        .product-section .product-item .icon-cross img {
          position: absolute;
          left: 50%;
          top: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
      .product-section .product-item:before {
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        content: "";
        background: #dce5e4;
        height: 0%;
        z-index: -1;
        border-radius: 10px;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
      .product-section .product-item:hover .product-thumbnail {
        top: -25px; }
      .product-section .product-item:hover .icon-cross {
        bottom: 0;
        opacity: 1;
        visibility: visible; }
      .product-section .product-item:hover:before {
        height: 70%; }
  
.contenido {
  margin-bottom: 50px; 
}
