body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  box-sizing: border-box;
  height: 85vh;
}

.main-content {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
  background-color: #b2925c;
  box-sizing: border-box;
}

.main-content h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.main-content p {
  font-size: 1.2em;
  text-align: center;
}

.main-content button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  margin-bottom: 20px;
}

.main-content img.main-image {
  width: 75%;
  height: auto;
  border-radius: 10px;
  align-self: flex-start;
  text-align: left;
}

.main-title-font{
  font-size: 1.5rem;
  font-weight: bold;

}
.info-sections {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.info-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

.section1 {
  background-color: #f1e4c3;
}

.section2 {
  background-color: #d2e3c8;
}

.section3 {
  background-color: #abc7d8;
}

.info-section img {
  max-width: 20%;
  height: auto;
}

/* Media Query para dispositivos móviles */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    height: auto; /* Ajuste para permitir que el contenido crezca según el contenido */
  }

  .main-content,
  .info-sections {
    width: 100%;
    padding: 0px; /* Añadir padding en dispositivos móviles */
    text-align: center; /* Centrar texto e imágenes en dispositivos móviles */
  }

  .main-content h1 {
    font-size: 2em; /* Reducir tamaño de título en dispositivos móviles */
    margin-bottom: 10px; /* Espacio inferior reducido */
  }

  .main-content p {
    font-size: 1em; /* Reducir tamaño de texto en dispositivos móviles */
    margin-bottom: 10px; /* Espacio inferior reducido */
  }

  .main-content button {
    font-size: 0.9em; /* Reducir tamaño de botón en dispositivos móviles */
  }

  .main-content img.main-image {
    width: 100%; /* Ocupar todo el ancho disponible */
    max-width: none; /* Remover ancho máximo */
    align-self: center; /* Centrar imagen en dispositivos móviles */
  }

  .info-section img {
    max-width: 30%; /* Ajustar tamaño de las imágenes en dispositivos móviles */
  }
}
