show-pet{
    background-color: #E9E9E9;
}

.custom-card .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #80aba4; 
    padding: 20px; 
  }
  
  .custom-card .card-body {
    background-color: #E9E9E9; 
    padding: 10px; 
  }

  .custom-card img {
    width: 350px;
    height: 350px; 
  }
  
  .text-lost {
    font-size: 18px;
    font-weight: lighter;
    font-family: 'MedievalSharp', cursive;
  }

  .card-lost{
    font-size: 19px;
    font-family: 'MedievalSharp', cursive;
    font-weight: bold;
  }

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1); 
}


.carousel-control-prev,
.carousel-control-next {
  width: 10%;
}

.contenido {
  margin-bottom: 50px; 
}

.modal-header {
  background-color: #80aba4; 
  color: white;
}




  
  