
.data-section {
    padding: 20px; 
    background-color: #A2BAC0; 
}

.data-section + .data-section {
    background-color: #A2BAC0;
}

.fondo-imagen{
    background-color: lightgray;
}


.btn-close {
    color: red;
  }
  